// Insert your styling here.

// Links.
a {
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  &:hover {
    color: @link-color;
    opacity: 0.7;
    filter: alpha(opacity=70);
    text-decoration: none;
  }
}

.front {
  .view-filters {
    display: none;
  }
}

.page-all-deals {
  background-color: #f0f0f0;
}

.main-container {
  overflow: hidden;
  margin: 30px auto;

  .page-header {
    padding-bottom: 9px;
    text-align: center;
    border: 0;
  }

  .view-ld-deals {
    .col {
      position: relative;
      margin-bottom: 25px;
      img {
        width: 100%;
      }
      .views-field-field-category {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        background-color: #333;
        background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
        background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
        a {
          color: #fff;
          font-size: 12px;
          letter-spacing: 1px;
          &:hover {
            text-decoration: none;
          }
        }
      }

      .views-field-field-short-title {
        a {
          font-family: 'Helia-Regular';
          font-size: 20px;
          color: #000000;
          margin-top: 10px;
          display: block;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .views-field-title {
        a {
          font-family: 'Helia-Regular';
          font-size: 14px;
          color: #999;
          display: block;
          margin-bottom: 25px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .well {padding-bottom: 0;
    #block-views-product-categories-block {
      h2 {
        font-size: 20px;
        margin-bottom: 25px;
      }
      .view-product-categories {
        .views-field {
          a {
            color: #333;
            text-transform: uppercase;
            text-decoration: none;
            border-bottom: 1px solid #DDDDDD;
            display: block;
            padding-bottom: 5px;
            margin-bottom: 8px;

            i {
              width: 25px;
              font-size: 18px;
              vertical-align: top;
            }
          }
        }
        .views-row-last .views-field span a {
          border-bottom: 0;
        }
      }
    }
  }

}