// Insert your styling here.

header {
  //  margin-bottom: 45px;

  &.navbar-default {
    background-color: #ffffff;
    border-color: transparent;
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    border-bottom: 0;

    .logo {
      margin: 8px 0;
      img {
        max-width: 120px;
      }
    }

    .navbar-nav {
      > li {
        &.first {
          a {
            &:before {
              content: "\f002";
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
              padding-right: 0.5em;
            }
          }
        }

        &.last {
          a {
            &:before {
              content: "\f0e3";
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
              padding-right: 0.5em;
            }
          }
        }
        > a {
          font-family: 'Helia-Regular';
          font-size: 16px;
          text-transform: uppercase;
          padding: 25px 15px 20px 15px;
        }
      }
    }
    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
      border-bottom: 3px solid;
    }

    .commerce-add-to-cart {
      .form-group {
        margin: 0;
      }
    }

    .call-to-action {
      margin: 14px 0;
      border: 0;
      border-radius: 0;
      padding: 5px 22px;
      height: 40px;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 33px;
      background-color: #77A500;
      border-color: transparent;
      background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
      background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
      background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));

      &:hover {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
      }

      span {
        font-family: 'Helia-Regular';
      }
    }

    ul.secondary {
      display: none;
    }
  }
}

a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  #top-header {
    ul {
      text-align: center;
      float: none !important;
      li {
        &:first-child {
          a {
            border-left: 0;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }

  header.navbar-default {
    .navbar-nav {
      > li {
        > a {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    .call-to-action {
      width: 100%;
      margin-top: 0;
    }
  }
}

@media (max-width: 1200px) {
  .slide {
    section {
      .view-slideshow {
        .attachment {
          .col-lg-12 {
            margin: 25px auto 0 auto;
            width: 970px !important;
            padding-left: 15px;
            padding-right: 15px;
            .info {
              width: inherit !important;
              .title {
                width: 740px !important;
                line-height: inherit;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .slide {
    section {
      .view-slideshow {
        height: 530px;
        .attachment {
          top: 0;
          width: 100% !important;
          height: 580px !important;
          .view-content {
            height: 530px;
            .views-bootstrap-grid-plugin-style {
              height: 530px;
              .row {
                height: 530px;
                .col-lg-12 {
                  width: 100% !important;
                  height: 530px;
                  padding-left: 40px;
                  padding-right: 40px;
                  .info {
                    width: inherit !important;
                    .title {
                      line-height: 40px;
                      width: inherit !important;
                      text-align: center;
                      white-space: normal;
                      a {
                        display: inline-block !important;
                      }
                    }
                    .description {
                      .count-down,
                      .company,
                      .sales {
                        text-align: center;
                        float: none !important;
                        display: block !important;
                        width: 100% !important;
                        margin: 10px 0 !important;
                        .count-down,
                        .company,
                        .sales {
                          margin: 0 !important;
                        }

                        &:before {
                          float: none !important;
                          display: none !important;
                        }
                        span {
                          &:before {
                            display: none !important;
                          }
                        }
                      }
                    }
                  }
                  .views-field-commerce-price {
                    width: 100%;
                    .price-outer {
                      position: static !important;
                      margin: 10px auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .slide {
    section {
      .view-slideshow {
        .attachment {
          .col-lg-12 {
            .info {
              .title {
                a {
                  font-size: 30px !important;
                  line-height: 30px !important;
                  display: inline-block !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

#top-header {
  background-color: #333333;
  color: #fff;
  height: 32px;
  color: #fff;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        font-family: 'Helia-Light';
        font-size: 11px;
        line-height: 32px;
        color: #fff;
        margin-left: 5px;
        padding-left: 10px;
        border-left: 1px solid #666;
      }
    }
  }
}

body.navbar-is-fixed-top,
body.admin-menu.navbar-is-fixed-top {
  padding-top: 100px !important;
}

.front {
  background-color: #f0f0f0;
  .slide {
    height: 580px;
  }
}

.slide {
  padding: 0;
  overflow: hidden;

  section {
    height: 580px;

    .view-slideshow {
      position: relative;

      .carousel-indicators {
        bottom: 10px;
      }
      .carousel-inner {
        background: #000;
        img {
          margin: 0 auto;
          display: block;
        }
      }

      .attachment {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        bottom: 60px;
        width: 100%;
        color: #fff;
        padding: 25px 0;
        height: 160px;

        .col-lg-12 {
          width: 1140px;
          margin: 0 auto;
          padding: 0;
          float: none;

          .info {
            width: 940px;
            float: left;
            .title {
              display: block;
              a {
                font-family: 'Helia-Regular';
                font-size: 40px;
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
              }
            }
            .description {
              .count-down {
                width: 270px;
                overflow: visible !important;
                float: left;
                &:before {
                  content: "\f017";
                }
              }
              .company {
                width: 170px;
                &:before {
                  content: "\f041";
                }
              }
              .sales {
                width: 130px;
                overflow: visible !important;
                &:before {
                  content: "\f0c0";
                }
              }

              .count-down,
              .company,
              .sales {
                display: inline-block;
                margin-right: 30px;
                font-size: 16px;
                font-family: 'Helia-Regular';
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                float: left;

                &:before {
                  font-family: FontAwesome;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  font-size: 18px;
                  float: left;
                  border: 1px solid #999;
                  width: 40px;
                  height: 40px;
                  line-height: 39px;
                  text-align: center;
                  border-radius: 100px;
                  margin-right: 10px;
                }

                span.count-down,
                span.Company,
                span.sales {
                  &:before {
                    display: none;
                  }
                  float: none;
                  font-family: 'Helia-Light';
                  display: block;
                  color: #CCCCCC;
                }
              }
              .count-down {
                span {
                  font-family: 'Helia-Regular';
                  span {
                    color: #BFFF00;
                  }
                }
              }
            }
          }

          .views-field-commerce-price {
            float: right;
            .price-outer {
              background-color: rgba(119, 165, 0, 0.5);
              border-radius: 50%;
              width: 220px;
              height: 220px;
              position: relative;
              right: 0px;
              top: -156px;
              background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
              background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
              background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
              background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
              .price-inner {
                background-color: rgba(119, 165, 0, 1);
                border-radius: 50%;
                width: 200px;
                height: 200px;
                position: relative;
                top: 10px;
                margin: 0px auto;
                background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
                background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
                background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));

                .before-price {
                  text-align: center;
                  padding-top: 45px;
                  padding-bottom: 15px;
                  font-size: 16px;
                }
                .now-price {
                  font-family: 'Helia-Bold';
                  text-align: center;
                  font-size: 50px;
                  line-height: 43px;
                  margin-bottom: 5px;
                }
                .procent {
                  font-family: 'Helia-Regular';
                  text-align: center;
                  font-size: 12px;
                  background: rgba(0, 0, 0, 0.2);
                  width: 80px;
                  padding: 4px 4px 2px;
                  line-height: 20px;
                  border-radius: 4px;
                  margin: 10px auto 0 auto;
                }
              }
            }
          }
        }
      }
    }
  }
  header {
    .cover-image {
      height: 200px;
      background-size: cover;
      background-position: 50%;
      position: relative;
      display: block;
    }
  }
}