a {
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
a:hover {
  text-decoration: none;
}
.front .view-filters {
  display: none;
}
.page-all-deals {
  background-color: #f0f0f0;
}
.main-container {
  overflow: hidden;
  margin: 25px auto 0 auto;
}
.main-container .page-header {
  padding-bottom: 9px;
  text-align: center;
  border: 0;
}
.main-container .view-ld-deals .col .thumbnail {
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  border: 0;
  overflow: hidden;
  margin-bottom: 25px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.main-container .view-ld-deals .col .thumbnail:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.main-container .view-ld-deals .col .thumbnail .image {
  position: relative;
}
.main-container .view-ld-deals .col .thumbnail .image a:hover {
  opacity: 1;
}
.main-container .view-ld-deals .col .thumbnail .image a img {
  width: 100%;
}
.main-container .view-ld-deals .col .thumbnail .image a .category {
  font-family: 'Helia-Regular';
  border-radius: 4px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  padding: 10px 10px;
  height: 18px;
  line-height: 3px;
  width: auto;
  position: absolute;
  left: 50%;
  bottom: 5px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-container .view-ld-deals .col .thumbnail .caption {
  width: 100%;
  display: inline-block;
  font-family: 'Helia-Regular';
}
.main-container .view-ld-deals .col .thumbnail .caption .short-title {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-container .view-ld-deals .col .thumbnail .caption .company {
  line-height: 14px;
  text-align: center;
}
.main-container .view-ld-deals .col .thumbnail .caption .company a {
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
}
.main-container .view-ld-deals .col .thumbnail .caption .left-box {
  margin-top: 27px;
  text-align: left;
}
.main-container .view-ld-deals .col .thumbnail .caption .right-box {
  margin-top: 20px;
  text-align: right;
}
.main-container .view-ld-deals .col .thumbnail .caption .left-box,
.main-container .view-ld-deals .col .thumbnail .caption .right-box {
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
}
.main-container .view-ld-deals .col .thumbnail .caption .left-box .now-price,
.main-container .view-ld-deals .col .thumbnail .caption .right-box .now-price {
  font-family: 'Helia-Bold';
  font-size: 24px;
  line-height: 24px;
  color: #70a000;
}
.main-container .well {
  padding-bottom: 0;
  background-color: #fff;
  border: 0;
}
.main-container .well #block-views-product-categories-block h2 {
  font-size: 20px;
  margin-bottom: 25px;
}
.main-container .well #block-views-product-categories-block .view-product-categories .views-field a {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #eeeeee;
  display: block;
  padding-bottom: 5px;
  margin-bottom: 8px;
}
.main-container .well #block-views-product-categories-block .view-product-categories .views-field a i {
  width: 25px;
  font-size: 18px;
  vertical-align: top;
}
.main-container .well #block-views-product-categories-block .view-product-categories .views-field a:hover {
  color: #70a000;
}
.main-container .well #block-views-product-categories-block .view-product-categories .views-row-last .views-field span a {
  border-bottom: 0;
}
.main-container .pager {
  margin: 0;
}
.main-container .pager li > a {
  border: 0;
  color: #fff;
  border-radius: 0;
  padding: 5px 22px;
  height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 33px;
  background-color: #999;
  border-color: transparent;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
}
.main-container .pager li > a:hover {
  color: #fff;
  opacity: 1;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
.deal-button-wrapper .col .view-all-deals {
  border: 0;
  border-radius: 0;
  padding: 5px 22px;
  height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 33px;
  background-color: #999;
  border-color: transparent;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
}
.deal-button-wrapper .col .view-all-deals:hover {
  opacity: 1;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
.partners {
  background-color: #fff;
  margin: 25px auto 0 auto;
  padding: 30px 0;
}
.partners h2 {
  margin-top: 10px;
}
