footer {
  background-color: #333333;
  color: #fff;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
footer.footer {
  margin-top: 0;
  border-top: 0;
}
footer .footer-image {
  background-image: url("../images/logogray.png");
  width: 120px;
  height: 44px;
  max-width: 120px;
  background-size: cover;
  background-position: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
}
footer .address {
  text-align: center;
  color: #666;
  text-transform: uppercase;
}
footer .address a {
  color: #666;
}
footer .payment {
  background-image: url("../images/payment.png");
  width: 126px;
  height: 21px;
  max-width: 126px;
  background-size: cover;
  background-position: 50%;
  margin: 0 auto;
  margin-top: 15px;
}
