header.navbar-default {
  background-color: #ffffff;
  border-color: transparent;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  border-bottom: 0;
}
header.navbar-default .logo {
  margin: 8px 0;
}
header.navbar-default .logo img {
  max-width: 120px;
}
header.navbar-default .navbar-nav > li.first a:before {
  content: "\f002";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 0.5em;
}
header.navbar-default .navbar-nav > li.last a:before {
  content: "\f0e3";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 0.5em;
}
header.navbar-default .navbar-nav > li > a {
  font-family: 'Helia-Regular';
  font-size: 16px;
  text-transform: uppercase;
  padding: 25px 15px 20px 15px;
}
header.navbar-default .navbar-nav > .active > a,
header.navbar-default .navbar-nav > .active > a:hover,
header.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: 3px solid;
}
header.navbar-default .commerce-add-to-cart .form-group {
  margin: 0;
}
header.navbar-default .call-to-action {
  margin: 14px 0;
  border: 0;
  border-radius: 0;
  padding: 5px 22px;
  height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 33px;
  background-color: #77A500;
  border-color: transparent;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
}
header.navbar-default .call-to-action:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
header.navbar-default .call-to-action span {
  font-family: 'Helia-Regular';
}
header.navbar-default ul.secondary {
  display: none;
}
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  #top-header ul {
    text-align: center;
    float: none !important;
  }
  #top-header ul li:first-child a {
    border-left: 0;
    padding: 0;
    margin: 0;
  }
  header.navbar-default .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header.navbar-default .call-to-action {
    width: 100%;
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  .slide section .view-slideshow .attachment .col-lg-12 {
    margin: 25px auto 0 auto;
    width: 970px !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  .slide section .view-slideshow .attachment .col-lg-12 .info {
    width: inherit !important;
  }
  .slide section .view-slideshow .attachment .col-lg-12 .info .title {
    width: 740px !important;
    line-height: inherit;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media (max-width: 992px) {
  .slide section .view-slideshow {
    height: 530px;
  }
  .slide section .view-slideshow .attachment {
    top: 0;
    width: 100% !important;
    height: 580px !important;
  }
  .slide section .view-slideshow .attachment .view-content {
    height: 530px;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style {
    height: 530px;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row {
    height: 530px;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 {
    width: 100% !important;
    height: 530px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info {
    width: inherit !important;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .title {
    line-height: 40px;
    width: inherit !important;
    text-align: center;
    white-space: normal;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .title a {
    display: inline-block !important;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .count-down,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .company,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .sales {
    text-align: center;
    float: none !important;
    display: block !important;
    width: 100% !important;
    margin: 10px 0 !important;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .count-down .count-down,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .company .count-down,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .sales .count-down,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .count-down .company,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .company .company,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .sales .company,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .count-down .sales,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .company .sales,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .sales .sales {
    margin: 0 !important;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .count-down:before,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .company:before,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .sales:before {
    float: none !important;
    display: none !important;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .count-down span:before,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .company span:before,
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .info .description .sales span:before {
    display: none !important;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .views-field-commerce-price {
    width: 100%;
  }
  .slide section .view-slideshow .attachment .view-content .views-bootstrap-grid-plugin-style .row .col-lg-12 .views-field-commerce-price .price-outer {
    position: static !important;
    margin: 10px auto;
  }
}
@media (max-width: 400px) {
  .slide section .view-slideshow .attachment .col-lg-12 .info .title a {
    font-size: 30px !important;
    line-height: 30px !important;
    display: inline-block !important;
  }
}
#top-header {
  background-color: #333333;
  height: 32px;
  color: #fff;
}
#top-header ul {
  margin: 0;
  padding: 0;
}
#top-header ul li {
  display: inline-block;
}
#top-header ul li a {
  font-family: 'Helia-Light';
  font-size: 11px;
  line-height: 32px;
  color: #fff;
  margin-left: 5px;
  padding-left: 10px;
  border-left: 1px solid #666;
}
body.navbar-is-fixed-top,
body.admin-menu.navbar-is-fixed-top {
  padding-top: 100px !important;
}
.front {
  background-color: #f0f0f0;
}
.front .slide {
  height: 580px;
}
.slide {
  padding: 0;
  overflow: hidden;
}
.slide section {
  height: 580px;
}
.slide section .view-slideshow {
  position: relative;
}
.slide section .view-slideshow .carousel-indicators {
  bottom: 10px;
}
.slide section .view-slideshow .attachment {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 60px;
  width: 100%;
  color: #fff;
  padding: 25px 0;
  height: 160px;
}
.slide section .view-slideshow .attachment .col-lg-12 {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
  float: none;
}
.slide section .view-slideshow .attachment .col-lg-12 .info {
  width: 940px;
  float: left;
}
.slide section .view-slideshow .attachment .col-lg-12 .info .title {
  display: block;
}
.slide section .view-slideshow .attachment .col-lg-12 .info .title a {
  font-family: 'Helia-Regular';
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down {
  width: 270px;
  overflow: visible !important;
  float: left;
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down:before {
  content: "\f017";
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .company {
  width: 170px;
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .company:before {
  content: "\f041";
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .sales {
  width: 130px;
  overflow: visible !important;
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .sales:before {
  content: "\f0c0";
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .company,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .sales {
  display: inline-block;
  margin-right: 30px;
  font-size: 16px;
  font-family: 'Helia-Regular';
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down:before,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .company:before,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .sales:before {
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  float: left;
  border: 1px solid #999;
  width: 40px;
  height: 40px;
  line-height: 39px;
  text-align: center;
  border-radius: 100px;
  margin-right: 10px;
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down span.count-down,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .company span.count-down,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .sales span.count-down,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down span.Company,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .company span.Company,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .sales span.Company,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down span.sales,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .company span.sales,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .sales span.sales {
  float: none;
  font-family: 'Helia-Light';
  display: block;
  color: #CCCCCC;
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down span.count-down:before,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .company span.count-down:before,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .sales span.count-down:before,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down span.Company:before,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .company span.Company:before,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .sales span.Company:before,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down span.sales:before,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .company span.sales:before,
.slide section .view-slideshow .attachment .col-lg-12 .info .description .sales span.sales:before {
  display: none;
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down span {
  font-family: 'Helia-Regular';
}
.slide section .view-slideshow .attachment .col-lg-12 .info .description .count-down span span {
  color: #BFFF00;
}
.slide section .view-slideshow .attachment .col-lg-12 .views-field-commerce-price {
  float: right;
}
.slide section .view-slideshow .attachment .col-lg-12 .views-field-commerce-price .price-outer {
  background-color: rgba(119, 165, 0, 0.5);
  border-radius: 50%;
  width: 220px;
  height: 220px;
  position: relative;
  right: 0px;
  top: -156px;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
.slide section .view-slideshow .attachment .col-lg-12 .views-field-commerce-price .price-outer .price-inner {
  background-color: #77a500;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  top: 10px;
  margin: 0px auto;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
}
.slide section .view-slideshow .attachment .col-lg-12 .views-field-commerce-price .price-outer .price-inner .before-price {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 15px;
  font-size: 16px;
}
.slide section .view-slideshow .attachment .col-lg-12 .views-field-commerce-price .price-outer .price-inner .now-price {
  font-family: 'Helia-Bold';
  text-align: center;
  font-size: 50px;
  line-height: 43px;
  margin-bottom: 5px;
}
.slide section .view-slideshow .attachment .col-lg-12 .views-field-commerce-price .price-outer .price-inner .procent {
  font-family: 'Helia-Regular';
  text-align: center;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.2);
  width: 80px;
  padding: 4px 4px 2px;
  line-height: 20px;
  border-radius: 4px;
  margin: 10px auto 0 auto;
}
.slide header .cover-image {
  height: 200px;
  background-size: cover;
  background-position: 50%;
  position: relative;
  display: block;
}
