.slide {
  padding: 0;
  position: relative;
  height: 580px;
  margin-bottom: 45px;
}
.slide .carousel-inner {
  height: 580px;
  overflow: visible;
}
header {
  margin-bottom: 45px;
}
header.navbar-default {
  background-color: #ffffff;
  border-color: transparent;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
header.navbar-default .logo {
  margin: 23px 0;
}
header.navbar-default .logo img {
  max-width: 160px;
}
header.navbar-default .navbar-nav > li > a {
  font-family: 'Helia-Regular';
  font-size: 16px;
  text-transform: uppercase;
  padding: 25px 15px 20px 15px;
}
header.navbar-default .navbar-nav > .active > a,
header.navbar-default .navbar-nav > .active > a:hover,
header.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: 3px solid;
}
header.navbar-default .call-to-action {
  margin: 14px 0;
  padding: 5px 15px;
  height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
  background-color: #77A500;
  border-color: transparent;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
}
header.navbar-default .call-to-action:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
header.navbar-default .call-to-action span {
  font-family: 'Helia-Regular';
}
header.navbar-default ul.secondary {
  display: none;
}
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#top-header {
  background-color: #333333;
  box-shadow: -900px 0 #333333, 900px 0 #333333;
  height: 32px;
  color: #fff;
}
#top-header ul {
  margin: 0;
  padding: 0;
}
#top-header ul li {
  display: inline-block;
}
#top-header ul li a {
  font-family: 'Helia-Light';
  font-size: 11px;
  line-height: 32px;
  color: #fff;
  margin-left: 5px;
  padding-left: 10px;
  border-left: 1px solid #666;
}
body.navbar-is-fixed-top,
body.admin-menu.navbar-is-fixed-top {
  padding-top: 101px !important;
}
