header {
  margin-bottom: 45px;
}
header.navbar-default {
  background-color: #ffffff;
  border-color: transparent;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
header.navbar-default .logo {
  margin: 23px 0;
}
header.navbar-default .logo img {
  max-width: 160px;
}
header.navbar-default .navbar-nav > li > a {
  font-family: 'Helia-Regular';
  font-size: 16px;
  text-transform: uppercase;
  padding: 25px 15px 20px 15px;
}
header.navbar-default .navbar-nav > .active > a,
header.navbar-default .navbar-nav > .active > a:hover,
header.navbar-default .navbar-nav > .active > a:focus {
  border-bottom: 3px solid;
}
header.navbar-default .call-to-action {
  margin: 14px 0;
  padding: 5px 22px;
  height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
  background-color: #77A500;
  border-color: transparent;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
}
header.navbar-default .call-to-action:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
header.navbar-default .call-to-action span {
  font-family: 'Helia-Regular';
}
header.navbar-default ul.secondary {
  display: none;
}
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#top-header {
  background-color: #333333;
  box-shadow: -900px 0 #333333, 900px 0 #333333;
  height: 32px;
  color: #fff;
}
#top-header ul {
  margin: 0;
  padding: 0;
}
#top-header ul li {
  display: inline-block;
}
#top-header ul li a {
  font-family: 'Helia-Light';
  font-size: 11px;
  line-height: 32px;
  color: #fff;
  margin-left: 5px;
  padding-left: 10px;
  border-left: 1px solid #666;
}
body.navbar-is-fixed-top,
body.admin-menu.navbar-is-fixed-top {
  padding-top: 101px !important;
}
.front {
  background-color: #f0f0f0;
}
.front .slide {
  height: 580px;
}
.slide {
  padding: 0;
  overflow: hidden;
}
.slide #block-views-slideshow-block {
  height: 580px;
}
.slide #block-views-slideshow-block .view-slideshow {
  position: relative;
}
.slide #block-views-slideshow-block .view-slideshow .carousel-indicators {
  bottom: 10px;
}
.slide #block-views-slideshow-block .view-slideshow .attachment {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 60px;
  width: 100%;
  color: #fff;
  padding: 25px 0;
  height: 160px;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
  float: none;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info {
  width: 940px;
  float: left;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .title {
  display: block;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .title a {
  font-family: 'Helia-Regular';
  font-size: 40px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down {
  width: 270px;
  overflow: visible !important;
  float: left;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down:before {
  content: "\f017";
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .company {
  width: 170px;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .company:before {
  content: "\f041";
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .sales {
  width: 130px;
  overflow: visible !important;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .sales:before {
  content: "\f0c0";
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .company,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .sales {
  display: inline-block;
  margin-right: 30px;
  font-size: 16px;
  font-family: 'Helia-Regular';
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down:before,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .company:before,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .sales:before {
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  float: left;
  border: 1px solid #999;
  width: 40px;
  height: 40px;
  line-height: 39px;
  text-align: center;
  border-radius: 100px;
  margin-right: 10px;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down span.count-down,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .company span.count-down,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .sales span.count-down,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down span.Company,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .company span.Company,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .sales span.Company,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down span.sales,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .company span.sales,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .sales span.sales {
  float: none;
  font-family: 'Helia-Light';
  display: block;
  color: #CCCCCC;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down span.count-down:before,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .company span.count-down:before,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .sales span.count-down:before,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down span.Company:before,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .company span.Company:before,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .sales span.Company:before,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down span.sales:before,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .company span.sales:before,
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .sales span.sales:before {
  display: none;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down span {
  font-family: 'Helia-Regular';
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .info .description .count-down span span {
  color: #BFFF00;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .views-field-commerce-price {
  float: right;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .views-field-commerce-price .price-outer {
  background-color: rgba(119, 165, 0, 0.5);
  border-radius: 100px;
  width: 200px;
  height: 200px;
  position: relative;
  right: 0;
  top: -45px;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .views-field-commerce-price .price-outer .price-inner {
  background-color: #77a500;
  border-radius: 100px;
  width: 140px;
  height: 140px;
  position: relative;
  top: 28px;
  margin: 0px auto;
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .views-field-commerce-price .price-outer .price-inner .before-price {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
  font-size: 16px;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .views-field-commerce-price .price-outer .price-inner .now-price {
  font-family: 'Helia-Bold';
  text-align: center;
  font-size: 40px;
  line-height: 40px;
}
.slide #block-views-slideshow-block .view-slideshow .attachment .col-lg-12 .views-field-commerce-price .price-outer .price-inner .procent {
  text-align: center;
  font-size: 16px;
}
